main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1.5rem;

  border-top: 5px solid #fff;
  background: #2e8deb;

  color: #fff;

  .container {
    .header-reset-form {
      margin-bottom: 2rem;
      h1 {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 0.895rem;
        font-weight: 400;
      }
    }
    button {
      width: 100%;
      margin-bottom: 2rem;
    }

    a {
      color: #fff;
    }
  }
}

@media (width> 1024px) {
  main {
    background-image: linear-gradient(#070c117a, #070c117a),
      url(../../assets/imgs/fundo.jpg);
    background-size: 100%;

    border: 0;

    .container {
      width: 25%;

      .reset-password {
        text-align: center;
      }
    }
  }
}
