header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;

  .container-header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    padding-block: 1rem;

    nav {
      display: flex;
      gap: 1rem;

      a {
        color: #2e8deb;
        text-decoration: none;

        border: 1px solid #2e8deb;
        padding: 0.5rem 2rem;
        border-radius: 0.3rem;
      }
    }
  }

  .container {
    width: 80%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      color: #000;
    }

    nav {
      display: flex;
      gap: 1rem;

      a {
        color: #000;
        text-decoration: none;
        // padding: 0.8rem;
        padding-block: 1.8rem;
        padding-inline: 0.5rem;

        &.active {
          color: #2e8deb;
          font-weight: 500;
          border-bottom: 1px solid #2e8deb;
        }
      }
    }
  }
}
