main {
  .banner-register {
    background: #2e8deb7a;
    height: 35vh;
  }

  .section {
    padding: 2rem;
    // display: none;

    .container {
      width: 84%;
      margin: 0 auto;
      background: #fff;

      margin-top: -7rem;
      padding-block: 2rem;

      .borderItems {
        padding-block: 0.85rem;
        padding-inline: 0.85rem;
        background: #eff4f8;
        margin-bottom: 1rem;

        font-weight: bold;
        text-transform: uppercase1;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .buttons {
          display: flex;
          gap: 1rem;

          .button {
            background: transparent !important;
            color: #000 !important;
            box-shadow: none !important;
            font-size: 1.2rem;
          }
          button {
            font-weight: 400;
          }
        }
      }
    }
    .vinculos-container {
      padding-block: 1rem;
      margin-bottom: 1rem !important;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      > .item {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}
