.container {
  .borderItems {
    background: #eff4f8;
    margin-bottom: 1rem;
    padding: 0.6rem;

    text-transform: uppercase;
    font-weight: bold;
  }

  .card {
    margin-top: 1.5rem;

    .card-content {
      display: flex;
      gap: 1rem;

      .card-image {
        width: 80px;
        height: 80px;

        background: #2e8ceb;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;

        font-weight: bold;

        border-radius: 0.1rem;
        color: #fff;
      }
      span {
        color: #8b8b8b;
      }
      h5 {
        font-size: 1rem;
        text-transform: lowercase;
        color: #8b8b8b;
        font-weight: 300;
      }
    }
  }

  .card-horario {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .buttons-pesquisa {
    margin-bottom: 2rem;
  }
}

@media (width> 1024px) {
}
